<html>
<head>
    <title>Things</title>
    <style>
        body {background-color: rgb(176, 198, 222);}
        h1   {color:navy; font-family:Garamond,serif; font-size:50px; text-align:center;}
        h2   {font-size:25px; font-family:Garamond, serif; text-align:center;}
        p    {font-size:15px; font-family:Garamond, serif; text-align:center;}
    </style>
</head>
    <body> 
        <h1>Things</h1>
        <h2>The place for things</h2>
        <p><a href="#">Sign up</a></p>
        <p><a href="#">Log in</a></p>
    </body>
</html>